In [2]:
import numpy as np
import pandas as pd
import sys
import io
import matplotlib.pyplot as plt
import matplotlib as mpl

In [9]:
def is_colab():
    return "google.colab" in sys.modules

def open_excel_colab():
  uploaded = files.upload()
  if uploaded:
    (filename, content) = next(iter(uploaded))
    print('Uploaded file "{name}" with length {length} bytes'.format(
          name=fn, length=len(uploaded[filename])))

    return pd.read_excel(io.BytesIO(content))

def open_excel_local():
  app = wx.App(False)
  dialog = wx.FileDialog(
      None,
      "Choose a Excel file",
      wildcard="Excel files (*.xlsx;*.xls)|*.xlsx;*.xls",
      style=wx.FD_OPEN | wx.FD_FILE_MUST_EXIST
  )

  if dialog.ShowModal() == wx.ID_OK:
      path = dialog.GetPath()
      print("Selected:", path)
      df = pd.read_excel(path)
      dialog.Destroy()
      return df
  else:
      dialog.Destroy()
      print("No file selected.")
      return None

if is_colab():
  from google.colab import files
  open_excel = open_excel_colab
else:
  import wx
  open_excel = open_excel_local

In [18]:
dt = open_excel()
dt

Selected: /home/deck/Mestrado/ContainerHomes/ComputacaoCienciaDados/dev/ipp.mi.data-science-programming/src/projeto2/dataset_PIAES_reduced.xlsx

,Sexo (M/F),Estado civil (desc),Ordem de ingresso,Curso (desc),Deslocado (S/N),Nacionalidade (desc),Habilitação literária mãe (desc),Situação profissional mãe (desc),Situação profissional pai (desc),Nota ingresso,Bolseiro,Idade no ingresso,Categoria
0,M,Solteiro(a),5,Design de Animação e Multimédia,S,Portuguesa,Outro - 11º Ano de Escolaridade,Trabalhador(a) por Conta de Outrém,Outra Situação (Falecido/a),127.3,0,20.0,Não Diplomado
1,M,Solteiro(a),1,Turismo,S,Portuguesa,Ensino Superior - Licenciatura,Trabalhador(a) por Conta de Outrém,Trabalhador(a) por Conta de Outrém,142.5,0,19.0,Diplomado
2,M,Solteiro(a),5,Design de Comunicação,S,Portuguesa,Ensino Básico 1º Ciclo (4º/5º Ano) ou Equiv.,Trabalhador(a) por Conta de Outrém,Desempregado/a,124.8,0,19.0,Não Diplomado
3,F,Solteiro(a),2,Jornalismo e Comunicação,S,Portuguesa,Ensino Básico 1º Ciclo (4º/5º Ano) ou Equiv.,Trabalhador(a) por Conta de Outrém,Trabalhador(a) por Conta de Outrém,119.6,0,20.0,Diplomado
4,F,Casado(a) com registo,1,Serviço Social (pós-laboral),N,Portuguesa,Ensino Básico 2º Ciclo (6º/7º/8º Ano) ou Equiv.,Reformado/a,Reformado/a,141.5,0,45.0,Diplomado
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5737,F,Solteiro(a),2,Jornalismo e Comunicação,S,Russa,Ensino Secundário (12º Ano) ou Equiv.,Trabalhador(a) por Conta Própria como Isolado,Trabalhador(a) por Conta de Outrém,119.0,0,18.0,Não Diplomado
5738,F,Solteiro(a),1,Enfermagem,N,Portuguesa,Ensino Secundário (12º Ano) ou Equiv.,Trabalhador(a) por Conta de Outrém,Trabalhador(a) por Conta de Outrém,116.0,1,20.0,Diplomado
5739,F,Solteiro(a),1,Enfermagem,S,Portuguesa,Ensino Básico 1º Ciclo (4º/5º Ano) ou Equiv.,Reformado/a,Desempregado/a,149.5,1,30.0,Não Diplomado
5740,F,Solteiro(a),1,Gestão,S,Portuguesa,Ensino Básico 1º Ciclo (4º/5º Ano) ou Equiv.,Trabalhador(a) por Conta de Outrém,Trabalhador(a) por Conta de Outrém,153.8,1,20.0,Diplomado
5741,F,Solteiro(a),1,Jornalismo e Comunicação,S,Caboverdeana,Ensino Básico 1º Ciclo (4º/5º Ano) ou Equiv.,Trabalhador(a) por Conta de Outrém,Trabalhador(a) por Conta de Outrém,152.0,0,22.0,Diplomado

In [19]:
dt.isna().sum()

Sexo (M/F)                           0
Estado civil (desc)                  0
Ordem de ingresso                    0
Curso (desc)                         0
Deslocado (S/N)                      0
Nacionalidade (desc)                 0
Habilitação literária mãe (desc)    20
Situação profissional mãe (desc)     0
Situação profissional pai (desc)     0
Nota ingresso                       68
Bolseiro                             0
Idade no ingresso                   51
Categoria                            0
dtype: int64